.new-message { 
    span { font-size: 24px; display: block; margin-bottom: 2px; }
    font-size: 21px;
    line-height: 25px;
    width: 45%;
    padding: 8px 12px;
    background-color: #ccc; 
    border-radius: 8px;
    margin-bottom: 5px;
    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: #007cff;
    color: white;
}
.messages{
    margin-top: 10px;
    padding: 0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
    overflow-y: auto;
    width: 75%;
    height: 65vh;
}
.message:first-child{
    margin-top: auto;
}