#room {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 400px;
        textarea {
            width: 100%;
            height: 35px;
            margin-top: 20px;
            resize: none;
            font-size: 23px;
            border: solid 2px #007cff;
            -webkit-box-shadow:0 0 5px #007cff inset;
            -moz-box-shadow:0 0 5px #007cff inset;
            box-shadow:0 0 5px #007cff inset;
            text-align: center;
        }
        button {
            margin-top: 20px;
            width: 43px;
            height: 43px;
            border: solid 2px #007cff;
        }
        textarea:focus, button:focus {outline:none}
    }
}
#messageflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 10px;
    min-height: 0;
    #userArea{
        margin-top: 20px;
        width: 25%;
        padding: 10px 15px;
        border: solid 3px #007cff;
        h2 {
            font-size: 24px;
        }
        ul {
            margin-top: 10px;
            li {
                margin-top: 10px;
                font-size: 22px;
            }
        }
    }
}